<h2></h2>

<ce-tabs>

    <div class="tab-title"><h3>General</h3></div>
    <div class="tab-panel">
        <h3>Name</h3>
        <input type="text" class="story-name" />
        <h3>Priority</h3>
        <input type="text" class="priority" />
        <h3>Completed Date</h3>
        <input type="text" class="completed-date" />
        <h3>Description</h3>
        <div class="story-description"></div>
        <h3>Notes</h3>
        <div class="story-notes"></div>

    </div>
    <div class="tab-title"><h3>Points</h3></div>
    <div class="tab-panel">
        <h3>Points</h3>
        <input type="text" class="points" />
        <h3>Architecture Points</h3>
        <input type="text" class="architecture-points" />
    </div>
    <div class="tab-title"><h3>Images</h3></div>
    <div class="tab-panel">

        <ce-drop-zone height="100px"
                      width="600px"
                      caption="Drop images here to upload."
                      background-color="#eee"
                      font-family="Arial"
                      color="#000"></ce-drop-zone> 

        <div class="story-digital-assets">

        </div>
    </div>
    <div class="tab-title"><h3>Specs</h3></div>
    <div class="tab-panel">

        <p><i>Coming Soon....Story Specs will go here...</i></p>
    </div>

</ce-tabs>


<ce-button class="save-button">Save</ce-button>
<ce-button class="delete-button">Delete</ce-button>
