@import "../../styles/base/index";

ce-story-edit {
    @extend .view-card;

    ce-drop-zone {
        margin-bottom:30px;
    }
    
    input.story-name {
        display:block;
        margin-bottom:20px;
        font-size:1.25em;
        line-height:1.5em;
        width:100%;
        max-width:calc(100% - 9px);
    }

    input.priority,
    input.points,
    input.architecture-points,
    input.completed-date {
        display:block;
        margin-bottom:20px;
        font-size:1.25em;
        line-height:1.5em;
        width:75px;
    }

    input[type="text"] {
        padding-left:7px;
    }

    input.completed-date {
        width:250px;
    }

    button.save-button, 
    button.delete-button{
        width:100px;
        line-height:30px;
        font-size: 1em;
    }

    .story-description,
    .story-notes {
        display:block;
        width:100%;
        height:345px;
        margin-bottom:20px;
    }

    img {
        max-height: 300px;
    }

    ce-story-digital-asset {
        margin-bottom:30px;
    }

    ce-task-edit {
        display:block;
        margin-bottom:40px;
    }
}


