@import "../../styles/base/index";

ce-brand-edit {
    @extend .view-card;

    .template-create {
        cursor:pointer;
        display:inline-block;
        margin-bottom:30px;
    }

    h2 {
        cursor:pointer;
    }
}



