<h3>User Settings</h3>
<section>
    <div>
        <input type="checkbox" class="user-settings-kanban-enabled" />
        <span>Kanban</span>

    </div>

    <div>
        <input type="checkbox" class="user-settings-tasks-enabled" />
        <span>Tasks</span>
    </div>

    <div>
        <input type="checkbox" class="user-settings-specs-enabled" />
        <span>Specs</span>
    </div>

    <div>
        <input type="checkbox" class="user-settings-features-enabled" />
        <span>Features</span>
    </div>
</section>

<ce-button>Save</ce-button>

