@import "../../styles/base/index";

ce-user-settings {
	@extend .view-card;

    input[type=checkbox] {
        display:inline-block;
        width:25px;
    }

    section {
        margin-bottom:30px;
    }
}
