h1 {
    font-size:1.5em;
}

input, textarea {
    display:block;
    margin:15px 0px;
    width:100%;
    max-width:600px;
}

button {
    display:inline-block;
    margin:15px 0px;
}

textarea {
    width: 600px;
	height: 120px;	
	padding: 5px;
}

#is-template-field {
    float:left;
    width:25px;
}

label {
    width:75px;
}

