<div class="epic-list">
    <h1>Epics</h1>
    <div *ngFor="let entity of entities; let i = index">
        <a class="epic-list-item-count">{{ i + 1 }}</a>
        <a (click)="onSelect.emit({ value: entity })" class="epic-list-item-name">{{ entity.name}}</a>
        <a class="epic-list-item-vote-action" (click)="onIncrementPriority.emit({ entity: entity })">&uarr;</a>
        <a class="epic-list-item-vote-action" (click)="onDecrementPriority.emit({ entity: entity })">&darr;</a>
        <a class="epic-list-item-stories-count">{{ entity.stories.length }} STORIES</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a (click)="onCreateStory.emit({ value: entity })" class="epic-list-item-action">CREATE STORY</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a (click)="onDelete.emit({ value: entity })" class="epic-list-item-action">DELETE</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a (click)="onEdit.emit({ value: entity })" class="epic-list-item-action">EDIT</a>
    </div>
</div>
