<div class="html-content-list">
    <h1>Html Contents</h1>
    <div *ngFor="let entity of entities; let i = index">
        <a class="html-content-list-item-count">{{ i + 1 }}</a>
        <a (click)="onSelect.emit({ value: entity })" class="html-content-list-item-name">{{ entity.name}}</a>
        <a (click)="onDelete.emit({ value: entity })" class="html-content-list-item-action">DELETE</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a (click)="onEdit.emit({ value: entity })" class="html-content-list-item-action">EDIT</a>
    </div>
</div>
