h1 {
    font-size:1.5em;
}

a {
    line-height:1.5em;
    display:inline-block;    
}

.story-list-item-count {
    min-width:25px;
}

.story-list-item-name {
    min-width:200px;
}

.story-list-item-action, .story-list-item-vote-action {
    font-size:0.75em;
    cursor:pointer;
    font-weight:100;
}

.story-list-item-vote-action {
    padding:0px 10px;
}

.story-item-description {
    display:block;
    margin:10px 0px 20px;
    padding: 10px 7.5px;
    background-color:#eee;
    
}

.story-list {
    padding-bottom:30px;
}