h1 {
    font-size:1.5em;
}

input, textarea {
    display:block;
    margin:15px 0px;
    width:100%;
    max-width:600px;
    padding: 10px 15px;
}

button {
    margin:15px 0px;
    display:inline-block;
}

textarea {
    width: 600px;
	height: 120px;	
	padding: 5px;
}


img {
    max-width:300px;
}

.story-edit-form-is-template {

}