<section class="story-edit-form">
    <h1>Edit Story</h1>
    <form novalidate [formGroup]="form">
        <input placeholder="Name" formControlName="name" id="name" />
        <span *ngIf="form.get('name').touched && form.hasError('required', 'name')">
            required
        </span>       
        <input placeholder="Priority" formControlName="priority" />
    </form>

    <html-textarea [(ngModel)]="description"></html-textarea>

    <button type="submit"
            (click)="tryToSubmit()"
            [disabled]="form.invalid">
        Submit
    </button>

    <button (click)="tryToCancel()">
        Cancel
    </button>

</section>
