:host {
    display:block;

    * {
        margin:0;
        padding:0;
    }
}

:host-context(.extra-small) {

}

:host-context(.small) {

}

:host-context(.medium) {

}

:host-context(.large) {

}

:host-context(.extra-large) {

}
