ce-login {
	display:block;
}

input {
    width:300px;
    line-height:1em;
    padding: 0px 10px;
    display:block;
    margin-bottom:15px;
    font-size:1.5em;
}

button {
    width:200px;
    line-height:30px;
}