body,html {
    font-family:Montserrat,sans-serif;
    width:100%;
    padding:0;
    margin:0;
}

body {
    height: 100vh;
    margin:0;
    padding:0;
    background-color:#f4f4f4;
}

ce-app {

    display:block;
    
    .container {
        display:block;
        margin: 0px auto;
        padding-top:30px;
        padding-bottom:30px;
        max-width:1280px;
    }

    .router-outlet {        
        display:block;
        position:relative;        
        margin:0 15px;
        max-width: 100%;
    }
}



