ce-story {
	display:block;
    margin-bottom:40px;
    padding:10px;
    cursor:pointer;
    max-width:1280px;

    p {
        margin:0;
        padding:0;
        line-height:1.75em;
    }
}

ce-story:hover {
    background-color:#CCC;
}