@import "../../styles/base/index";


ce-article-edit {

    @extend .view-card;

    margin-bottom:40px;

    input {
        display:block;
        margin-bottom:20px;
        font-size:1.25em;
        line-height:1.5em;
        width:250px;        
    }

    input[type="text"] {
        padding-left:7px;
    }

    button {
        width:100px;
        line-height:30px;
        font-size: 1em;
    }

    .article-html-content {
        height:145px;
        margin-bottom:20px;        
    }

    .article-title {
        width:100%;
        max-width: calc(100% - 10px);
    }

    input[type="checkbox"] {
        display:block;
        width:25px;
    } 

    .checkbox-field {
        input[type="checkbox"] {
            display:inline-block;
            width:25px;
        }
    }
}


