:host {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


section {
    display: block;
    background-color: #fff;
    width: 1040px;
    height: 575px;
    margin: 0 auto;
    box-shadow: 3px 3px 11px 0 rgba(0,0,0,.4);
}

a {
    display: block;
    margin: 0px 0px 0px 20px;
}

h1 {
    font-weight: 100;
    margin: 0px 0px 0px 20px;
    line-height: 2.5em;
}

.tile-catalog-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    height: 400px;
    width: 1010px;
    overflow-x: hidden;
    overflow-y: auto;
}

div.actions {
    width: calc(100% - 20px);
    text-align: right;
    margin-right: 20px;
}

button:nth-last-of-type(1) {
    display: inline-block;
    position: relative;
}

