<h1>Sign Up</h1>

<form novalidate [formGroup]="form">
    <input type="text" placeholder="Full Name" id="fullName" formControlName="fullName" />

    <input type="text" placeholder="Email" id="email" formControlName="email" />

    <input type="password" placeholder="Password" formControlName="password" />

    <input type="password" placeholder="Password Confirmation" formControlName="passwordConfirmation" />

    <button type="submit" (click)="tryToSignUp.emit({ value: form.value })">Sign Up</button>
</form>