ce-header {
	display:block;
    h1 {
        cursor:pointer;
        display:inline-block;
        margin-right:20px;
    }

    
    ce-link {
        margin: 0 10px;
    }

    ce-link.active {
        font-weight:600;
        color:#165e07;

    }

    div.header-right {
        position:relative;
        float:right;
        
        ce-link {
            line-height:90px;
        }
    }

    div.header-left {
        position:relative;
        float:left;
    }

    height:100px;
    color:#111;
    margin:0 10px;
}

center-header:after {
    display:block;
    clear:both;
    content: " ";
}