ce-tabs {
	display:block;

    .tab-title {
        cursor:pointer;
        display:inline-block;
        margin-right:25px;
        margin-bottom:20px;
        padding:0px;
        font-weight:100; 
        opacity:0.5;     
        transition: all 300ms;  
    }

    .tab-title:hover {
        opacity:1;
        border-bottom:solid 3px #888;
    }

    .tab-title.selected {
        opacity:1;
        border-bottom:solid 3px #000;
    }


}
