ce-tabs {
	display:block;

    .tab-title {
        cursor:pointer;
        display:inline-block;
        margin-right:25px;
        margin-bottom:20px;
        padding:0px;
        font-weight:100;        
    }

    .tab-title.selected {
        border-bottom:solid 1px;
    }
}
