@import "../../styles/base";

ce-product-edit {

    @extend .view-card;

    margin-bottom:40px;

    input {
        display:block;
        margin-bottom:20px;
        font-size:1.25em;
        line-height:1.5em;
        width:250px;
        padding-left:7px;
    }

    button {
        width:100px;
        line-height:30px;
        font-size: 1em;
    }

    .product-edit-title {
        cursor:pointer;
    }
}


