ce-epic-view {
	display:block;
    width:100%;

    .epic-story {
        margin-bottom:40px;
        padding:10px;
        cursor:pointer;
        width:100%;
    }

    .epic-story:hover {
        background-color:#CCC;
    }

    a {
        cursor:pointer;
        display:block;
        margin-bottom:20px;
    }

    h2 {
        margin-top:0;
    }
}
