ce-epic-view {
	display:block;
    width:100%;

    .epic-story {
        margin-bottom:40px;
        padding:10px;
        cursor:pointer;
        max-width:1280px;

        p {
            margin:0;
            padding:0;
            line-height:1.75em;
        }

    }

    .epic-story:hover {
        background-color:#CCC;
    }

    a {
        cursor:pointer;
        display:block;
        margin-bottom:20px;
    }

    h2 {
        margin-top:0;
    }
}
