ce-epic-list {
	display:block;

    h2 {
        margin-top:0px;
    }

    .epic-create {
        display:block;
        margin-bottom:40px;
    }

    select {
        width:400px;
        line-height:1.5em;
        font-size:1.5em;
        padding: 5px 7px;
        display:block;
        margin-bottom:30px;
    }
}
