@import "../../styles/base";

ce-product-list {	
    @extend .view-card;

    h2 {
        margin-top:0px;
    }

    ce-link {
        display:inline-block;
        margin-bottom:40px;
        color:#777;
        font-size:.85em;
        line-height:1em;
    }

    ce-link:hover {
        text-decoration:underline;
        color:#000;
    }
}
