ce-header {

    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);


    width:100%;
    margin:0;
    padding:0;
    z-index:100;
    margin-bottom:0px;
    background-color:#FFF;

    .container {
        display:block;
        max-width:1280px;
        margin:0 auto;
    }

	display:block;
    h1 {
        cursor:pointer;
        display:inline-block;
        margin-right:20px;
        letter-spacing:1px;
    }

    
    ce-link {
        margin: 0 14px;
        padding-bottom:10px;
    }

    ce-link:hover {
        border-bottom: 2px #777 solid;        
    }

    ce-link.active {
        font-weight:600;
        border-bottom: 2px #000 solid;
    }

    ce-link.logout,
    ce-link.logout:hover,
    ce-link.login,
    ce-link.login:hover,
    ce-link.settings,
    ce-link.settings:hover,
    ce-link.register,
    ce-link.register:hover {
        border-bottom:none;
    }

    div.header-right {
        position:relative;
        float:right;
        
        ce-link {
            line-height:90px;
        }
    }

    div.header-left {
        position:relative;
        float:left;
    }

    height:100px;
    color:#111;
}

center-header:after {
    display:block;
    clear:both;
    content: " ";
}