<div class="container">
    <div class="header-left">
        <h1>Backlog</h1>
        <ce-link routesegments='["epic","list"]' route-name="epic-list" auth-required>epics</ce-link>
        <ce-link routesegments='["product","list"]' route-name="product-list" auth-required>products</ce-link>
        <ce-link routesegments='["article","list"]' class="article-list" route-name="article-list" auth-required>articles</ce-link>
    </div>
    <div class="header-right">
        <ce-link routesegments='["login"]' class="logout" auth-required>logout</ce-link>
        <ce-link routesegments='["login"]' class="login" anonymous-required>login</ce-link>
        <ce-link routesegments='["user-settings"]' class="settings" auth-required>settings</ce-link>
        <ce-link routesegments='["register"]' class="register" anonymous-required>register</ce-link>
    </div>
</div>

