:host {
    display: block;
    background-color: #0667d0;
    color:#fff;
    height:80px;
}

h1 {
    padding:0;
    margin:20px 0px;
    font-weight:200;
    line-height:40px;
    font-size:1.25em;
    cursor:pointer;
}

.current-user {
    height:32px;
    margin:24px 0px 0px 0px;
    text-align:right;
    cursor:pointer;
}

a {    
    font-size: 0.875em;
    line-height:34px;
    display:inline-block;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

img {
    border-radius: 50%;
    position: relative;
    height: 32px;
    width: 32px;
    display: inline;
    border:0;
    vertical-align:middle;
    margin:0px 5px;
}