:host {
    display: block;
}

ul {
    grid-column: 2;
    text-align: right;
    margin: 0px 20px;
}

    ul li {
        list-style: none;
        display: inline-block;
    }

a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 1.2em;
    line-height: 3em;
    border-radius: 3px;
}
