:host {
    display: block;
    content: contain;
    width: 100%;
    max-width: calc(500px);    
    background-color:#fff;
    color:#333;
}

span {
    display: block;
    margin-bottom:10px;
}

h1 {
    margin:0px 0px 0px 20px;
    line-height:2em;
    padding:0;
}

input {
    margin:0px 20px 10px;
    max-width:calc(100% - 61px);
    border-color:rgb(221,221,221);
}
